.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/create_package.py
.git/**
**/.DS_Store
**/*.log
**/.env*
**/coverage/**
**/.nyc_output/**
**/.vscode-test/**
**/out/test/**
**/test/**
